[Unit]
Description=Loki containers
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/docker-compose -p loki -f /etc/container/loki/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose  -p loki -f /etc/container/loki/docker-compose.yml down

[Install]
WantedBy=default.target
